@model List<BlueStone.Smoke.Entity.AuthCenter.SystemApplication>
@{
    ViewBag.Title = "用户列表";
}
@section rsHeader{
}
@section rsContent{
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">查询条件</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" type="button" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="form-horizontal">
                <form id="searchForm" role="form">
                    <div class="box-body">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 control-label col-xs-offset-1 col-xs-3" for="Search_LoginName">关键字：</label>
                                    <div class="col-sm-7 col-xs-7">
                                        <input id="Search_LoginName" class="form-control" placeholder="账户名/姓名/电话" type="text">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 control-label col-xs-offset-1 col-xs-3" for="Search_UserFullName">姓名：</label>
                                    <div class="col-sm-7 col-xs-7">
                                        <input id="Search_UserFullName" class="form-control" placeholder="姓名" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 control-label col-xs-offset-1 col-xs-3" for="Search_CellPhone">电话：</label>
                                    <div class="col-sm-7 col-xs-7">
                                        <input id="Search_CellPhone" class="form-control" placeholder="电话" type="text">
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 control-label col-xs-offset-1 col-xs-3" for="Search_CommonStatus">状态：</label>
                                    <div class="col-sm-7 col-xs-7">
                                        <select class="form-control select2" style="width: 100%;" id="Search_CommonStatus">
                                            <option value="">所有</option>
                                            @{
                                                var commonStatus = BlueStone.Utility.EnumHelper.GetDescriptions<BlueStone.Smoke.Entity.CommonStatus>();
                                                foreach (var item in commonStatus)
                                                {
                                                    <option value="@((int)item.Key)">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-groupcol-sm-3 col-sm-offset-1 control-label col-xs-offset-1 col-xs-3">
                                    <label><input type="checkbox" id="cbIsPlatformUser" checked="checked" /><span class="text">仅平台管理账号</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="btn-group col-md-offset-5 col-lg-offset-5 col-sm-offset-4 col-xs-offset-4">
                                <button class="btn btn-info btn-sm" type="button" id="SearchBtn"><i class="fa fa-search"></i> 查询</button>
                                <button id="ISreset" type="button" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> 重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">查询结果</h3>
                <div class="box-tools">
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("UserEdit","User")" target="_blank">
                            <i class="fa fa-plus-square"></i> 添加
                        </a>
                        <button class="btn btn-danger btn-sm" type="button" id="remove-users">
                            <i class="fa fa-minus-square"></i> 删除
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body" id="result_table">
                @Html.Partial("~/Areas/AuthCenter/Views/KoTemplate/DataTableTemplate.cshtml")
            </div>
        </div>

    </section>

}

@section rsFooter{
    <script>
        var UserList_PageMgr = function ()
        {
            var editPageUrl = '@Url.Action("UserEdit", "User")';
            var queryUrl = '@Url.Action("Query", "User")';
            var resetPasswordUrl = '@Url.Action("ResetUserPassword","User")';
            var deleteUserUrl = '@Url.Action("DeleteSystemUser", "User")';

            var table = new KODataTable('result_table', queryUrl);
            table.SetTableColumns([
            { cText: '编号', cName: 'SysNo', cSortable: true, cWidth: '5%', cSortName: 'u.SysNo' },
            {
                cText: '账户名', cName: 'LoginName', cWidth: '15%', cType: 'html',
                cRender: function (row, rowindex) {
                    var result = '<a href="' + editPageUrl + '?UserSysNo=' + row.SysNo + '" target="_blank"  >' + row.LoginName + '</a>';
                    return result;
                }
            },
            { cText: '姓名', cName: 'UserFullName', cSortable: true, cWidth: '15%', cSortName: 'u.UserFullName' },
            { cText: '性别', cName: 'GenderStr', cWidth: '5%' },
            { cText: '电话', cName: 'CellPhone', cWidth: '10%' },
            { cText: '邮箱', cName: 'Email', cWidth: '15%' },
            { cText: 'QQ', cName: 'QQ', cWidth: '10%' },
            { cText: '状态', cName: 'CommonStatusStr', cWidth: '5%' },
            {
                cText: '操作', cType: 'html', cWidth: '5%',
                cRender: function (row, rowindex) {
                    var result = '';
                    result += '<button class="btn btn-xs btn-info" onclick="UserList_PageMgr.ResetUserPassword(' + rowindex + ')"><i class="fa fa-edit"></i>重置密码</button>';
                    return result;
                }
            }]);
            table.ReLoad(bulidSearchQuery());

            function bulidSearchQuery() {
                return {
                    KeyWords: $('#Search_LoginName').val(),
                    //UserFullName: $('#Search_UserFullName').val(),
                    //CellPhone: $('#Search_CellPhone').val(),
                    CommonStatus: $('#Search_CommonStatus').val(),
                    IsPlatformManager: $("#cbIsPlatformUser").prop("checked")
                }
            }

            function resetUserPassword(rowindex) {
                var rowdata = table.GetRowByIndex(rowindex);
                $.confirm('确定要重置' + rowdata.LoginName + '的密码!', function (res) {
                    if (!res) {
                        return;
                    }
                    $.ajax({
                        url: resetPasswordUrl,
                        type: "POST",
                        dataType: "json",
                        data: { data: rowdata.LoginName },
                        success: function (result) {
                            if (result.Success) {
                                $.alert('重置成功');
                                table.ReLoad(bulidSearchQuery());
                            }
                        }
                    });
                });
            }
            $('#ISreset').on('click', function () {
                $('#searchForm').get(0).reset();
                $('#searchForm select.select2').select2();
                table.ReLoad();
            });

            $('#SearchBtn').on('click', function (event) {
                table.ReLoad(bulidSearchQuery());
            });
            //$('#reset').on('click', function () {
            //    debugger;
            //    $("#Search_CommonStatus").select2();
            //    $("#select_application").select2();
            //});

            $('#remove-users').on('click', function (event) {
                var datas = table.GetSelectRows();
                if (datas.length == 0) {
                    $.alert("请选择数据！");
                    return;
                }
                var sysnos = [];
                for (var i = 0; i < datas.length; i++) {
                    sysnos.push(datas[i].SysNo);
                }
                $.confirm('确定要删除所选择的所有项', function (res) {
                    if (!res) {
                        return;
                    }
                    $.ajax({
                        url: deleteUserUrl,
                        type: "POST",
                        dataType: "json",
                        data: { data: JSON.stringify(sysnos) },
                        success: function (result) {
                            if (result.Success) {
                                $.alert('删除成功');
                                table.ReLoad(bulidSearchQuery());
                            }
                        }
                    });
                });
            });

            return {
                ResetUserPassword: resetUserPassword
            }
        }();

    </script>

}